<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/css.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.all.min.js"></script>
</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a class="img logo rounded-circle mb-5" style="background-image: url(@Url.Content(customClaims.ProfilePic(User))) "></a>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Home 1</a>
                            </li>
                            <li>
                                <a href="#">Home 2</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("profile","Home")">@HttpContext.Current.User.Identity.Name Profile</a>
                    </li>
                    <li>
                    <li><a href="~/Home/changePassword">Change Password</a></li>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter" data-url="/Home/ProfilePicture" data-type='file'> Update Profile Picture</a>
                    </li>
                    <li>
                        <a href="~/Home/LogOff">LogOff</a>
                    </li>
                </ul>

                <div class="footer">
                    <p style="text-align: center;">&copy; Social Application with DataTable Plugin in ASP.Net MVC</p>
                </div>
            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="~/Employee/Index">Employee Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Home/profile">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/Role/Index">User Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" style="margin-right: 450px;" href="#">Contact</a>
                            </li>
                            <li class="nav-item">
                                <div class="nav-link">
                                    <button class="btn btn-primary " type="button" style="width: auto; text-align: center; " data-toggle="dropdown">
                                        Welcome @HttpContext.Current.User.Identity.Name <img src="@Url.Content(customClaims.ProfilePic(User))" alt="" style="border-radius: 50%;" height=30 width=30 />
                                        <i class="fa fa-caret-down"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li style="display: block;"><a href="~/Home/profile">View Profile</a></li>
                                        <li style="display: block;"><a href="~/Home/changePassword">Change Password</a></li>
                                        <li style="display: block;"><a href="~/Home/LogOff">LogOff</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="body-content">
                @RenderBody()
                <hr />
            </div>
        </div>
    </div>

    <script src="~/Scripts/sidebar js/bootstrap.min.js"></script>
    <script src="~/Scripts/sidebar js/jquery.min.js"></script>
    <script src="~/Scripts/sidebar js/main.js"></script>
    <script src="~/Scripts/sidebar js/popper.js"></script>

    <script src="~/Scripts/jquery-2.0.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>