@model CrudWithJQueryDatatable.viewModel.changePassword
@{
    Layout = null;
}
@using (Html.BeginForm("changePassword", "Home", FormMethod.Post))
{

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <title>Change Password</title>
</head>
<body>
    <div class="login">
        <h1>Change Password</h1>
        <table>
            <tr>
                <td>@Html.LabelFor(a => a.password)</td>
                <td>@Html.PasswordFor(a => a.password)</td>
                <td>@Html.ValidationMessageFor(a => a.password)</td>
            </tr>
            <tr>
                <td>
                    @Html.LabelFor(a => a.Newpassword)
                </td>
                <td>
                    @Html.PasswordFor(a => a.Newpassword)
                </td>
                <td>
                    @Html.ValidationMessageFor(a => a.Newpassword)
                </td>
            </tr>
            <tr>
                <td>@Html.LabelFor(a => a.confirmpassword)</td>
                <td>@Html.PasswordFor(a => a.confirmpassword)</td>
                <td>@Html.ValidationMessageFor(a => a.confirmpassword)</td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Change Password" />
                </td>
                <td></td>
            </tr>
        </table>
    </div>
</body>
</html>
}